@import "tailwindcss";

next-route-announcer, nextjs-portal {
  bottom: 0;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/MonaSans-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Mona Sans';
  font-style: italic;
  src: url('/fonts/MonaSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}

@theme {
  --color-slate: #161D18;
  --color-apple: #D0E399;
  --color-mist: #FBFDF6;
  --color-petal: #FBE9E8;
  --color-blush: #C5A8A7;
  --color-pebble: #EFF2E8;
  --color-moss: #686F68;
  --color-sage: #C5CCB6;
  --font-body-font-family: 'Mona Sans', sans-serif;
  --font-heading-font-family: 'Mona Sans', sans-serif;
  --text-xs: 0.625rem;
  --text-s: 0.6875rem;
  --text-m: 0.75rem;
  --text-l: 0.875rem;
  --text-xl: 1rem;
  --text-xxl: 1.125rem;
  --text-xxxl: 1.5rem;
}

h1 {
  font-family: var(--font-heading-font-family);
  font-size: var(--text-xxxl);
  font-weight: 500;
}

h2 {
  font-family: var(--font-heading-font-family);
  font-size: var(--text-xxl);
  font-weight: 500;
}

h3 {
  font-family: var(--font-heading-font-family);
  font-size: var(--text-xl);
  font-weight: 400;
}

h4 {
  font-family: var(--font-heading-font-family);
  font-size: var(--text-l);
  font-weight: 400;
}

.marker {
  width: 31px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.marker-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 1;
  transform: scale(1);
}

.marker-enter .marker-inner {
  opacity: 0;
  transform: scale(0.5);
  animation: marker-pop-in 0.2s forwards;
}

@keyframes marker-pop-in {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.marker-exit .marker-inner{
  opacity: 0;
  transform: scale(0.5);
  transition: transform 0.2s, opacity 0.2s;
}

.marker-hover .marker-inner {
  transform: scale(1.15) !important;
}

.icon-default, .icon-active, .icon-default-static {
  position: absolute;
  left: 0; top: 0; width: 100%; height: 100%;
  transition: opacity 0.2s;
  pointer-events: none;
}

.icon-default { opacity: 1; }
.icon-active { opacity: 0; }

.marker-hover .icon-default { opacity: 0; }
.marker-hover .icon-active { opacity: 1; }

.popup {
  position: absolute;
  width: auto;
  z-index: 2;
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  white-space: nowrap;
  top: -5rem;
  font-family: var(--font-body-font-family);
  background: var(--color-mist);
  color: var(--slate);
  border-radius: 0.5rem;
  padding: 0.75rem;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.popup-upper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.popup-title {
  font-size: var(--text-xl);
  font-weight: 500;
}

.popup-height-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.popup-height-icon {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-height {
  font-size: var(--text-l);
}

.popup-region {
  font-size: var(--text-l);
  color: var(--color-moss);
}

.popup.popup-enter {
  opacity: 0;
  transform: translateY(10px);
  animation: popup-fade-in 0.1s forwards;
}

@keyframes popup-fade-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popup-fade-out {
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.popup.popup-exit {
  animation: popup-fade-out 0.1s forwards;
}

div[data-testid="virtuoso-item-list"] {
  margin-top: 1.5rem !important;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


