@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .shadow-standard {
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
  }
}

@font-face {
  font-family: 'Erode';
  src: url('/fonts/Erode-Variable.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Erode';
  src: url('/fonts/Erode-VariableItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

body {
  font-weight: 400;
}

:root {
  --color-slate: #161D18;
  --color-apple: #D0E399;
  --color-neon: #E1FF9E;
  --color-mist: #FBFDF6;
  --color-mint: #F4F8E9;
  --color-petal: #FCECEA;
  --color-blush: #E8B5B5;
  --color-pebble: #EFF2E8;
  --color-moss: #686F68;
  --color-sage: #C5CCB6;
  --color-heather: #C593FB;
  --color-lilac: #D7BAF8;
  --color-cloud: #F7F4FE;
  --color-rust: #8C2B2B;
  --color-sand: #FFEEC8;
  --color-bronze: #9C6800;
  --font-body-font-family: 'Mona Sans', sans-serif;
  --font-heading-font-family: 'Erode', serif;
  --text-xs: 0.625rem;
  --text-s: 0.6875rem;
  --text-m: 0.75rem;
  --text-l: 0.875rem;
  --text-xl: 1rem;
  --text-xxl: 1.125rem;
  --text-xxxl: 1.5rem;
  --text-4xl: 1.75rem;
  --text-5xl: 2.25rem;
  --text-6xl: 3rem;
  --shadow-standard: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
}

@theme {
  --color-slate: #161D18;
  --color-apple: #D0E399;
  --color-neon: #E1FF9E;
  --color-mist: #FBFDF6;
  --color-mint: #F4F8E9;
  --color-petal: #FBE9E8;
  --color-blush: #C5A8A7;
  --color-pebble: #EFF2E8;
  --color-moss: #686F68;
  --color-sage: #C5CCB6;
  --color-heather: #C593FB;
  --color-lilac: #D7BAF8;
  --color-cloud: #F7F4FE;
  --color-rust: #946261;
  --color-sand: #FFEEC8;
  --color-bronze: #9C6800;
  --font-body-font-family: 'Mona Sans', sans-serif;
  --font-heading-font-family: 'Erode', serif;
  --text-xs: 0.625rem;
  --text-s: 0.6875rem;
  --text-m: 0.75rem;
  --text-l: 0.875rem;
  --text-xl: 1rem;
  --text-xxl: 1.125rem;
  --text-xxxl: 1.5rem;
  --text-4xl: 2rem;
  --text-5xl: 2.5rem;
  --text-6xl: 3rem;
  --shadow-standard: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
}

.page-transition {
  opacity: 0;
  filter: blur(5px);
}

.mapboxgl-ctrl-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent !important;
  box-shadow: none !important;
  margin-right: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.mapboxgl-ctrl-zoom-in, .mapboxgl-ctrl-zoom-out, .mapboxgl-ctrl-compass {
  width: 2.25rem !important;
  height: 2.25rem !important;
  background: var(--color-mist) !important;
  border-radius: 50% !important;
  box-shadow: var(--shadow-standard) !important;
}

.mapboxgl-ctrl-zoom-in {
  border: none !important;
}

.mapboxgl-ctrl-zoom-out {
  border: none !important;
}

.mapboxgl-ctrl-compass {
  border: none !important;
}

.mapboxgl-ctrl-attrib {
  padding: 0.25rem !important;
  background: var(--color-mist) !important;
  font-size: var(--text-xs) !important;
  line-height: 1em !important;
  border-radius: 0.25rem 0rem 0rem 0rem !important;
  font-family: var(--font-body-font-family) !important;
  box-shadow: var(--shadow-standard) !important;
}

.mapbox-improve-map {
  font-weight: 400 !important;
}

.mapboxgl-ctrl-logo {
  opacity: 0.5 !important;
  width: 4rem !important;
}

.marker {
  width: 27px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.marker-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 1;
  transform: scale(1);
}

.marker-hover {
  z-index: 10;
}

.marker-selected {
  z-index: 20;
}

.marker-enter .marker-inner {
  opacity: 0;
  transform: scale(0.5);
  animation: marker-pop-in 0.2s forwards;
}

@keyframes marker-pop-in {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.marker-exit .marker-inner{
  opacity: 0;
  transform: scale(0.5);
  transition: transform 0.2s, opacity 0.2s;
}

.marker-hover .marker-inner {
  transform: scale(1.15) !important;
}

.marker-selected .marker-inner {
  transform: scale(1.15) !important;
}

.marker .icon-marker {
  --marker-bg: var(--color-moss);
  --marker-mountain: var(--color-mist);
  --marker-border: var(--color-mist);
}
.marker.is-bagged .icon-marker {
  --marker-bg: var(--color-apple);
  --marker-mountain: var(--color-slate);
  --marker-border: var(--color-mist);
}
.marker.marker-hover .icon-marker,
.marker.marker-selected .icon-marker {
  --marker-bg: var(--color-slate);
  --marker-mountain: var(--color-apple);
  --marker-border: var(--color-mist);
}

.popup {
  position: absolute;
  width: auto;
  z-index: 25;
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  white-space: nowrap;
  top: -5rem;
  font-family: var(--font-body-font-family);
  background: var(--color-mist);
  color: var(--slate);
  border-radius: 0.5rem;
  padding: 0.75rem;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.popup-upper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.popup-title {
  font-size: var(--text-xl);
  font-weight: 500;
}

.popup-height-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.popup-height-icon {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-height {
  font-size: var(--text-l);
}

.popup-region {
  font-size: var(--text-l);
  color: var(--color-moss);
}

.popup.popup-enter {
  opacity: 0;
  transform: translateY(10px);
  animation: popup-fade-in 0.1s forwards;
}

@keyframes popup-fade-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popup-fade-out {
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.popup.popup-exit {
  animation: popup-fade-out 0.1s forwards;
}

div[data-testid="virtuoso-scroller"] {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

div[data-testid="virtuoso-scroller"]::-webkit-scrollbar {
  display: none !important;
}