@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

next-route-announcer, nextjs-portal {
  bottom: 0;
}

@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/MonaSans-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Mona Sans';
  font-style: italic;
  src: url('/fonts/MonaSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}

:root {
  --color-slate: #161D18;
  --color-apple: #D0E399;
  --color-mist: #FBFDF6;
  --color-petal: #FBE9E8;
  --color-blush: #C5A8A7;
  --color-pebble: #EFF2E8;
  --color-moss: #686F68;
  --color-sage: #C5CCB6;
  --body-font-family: 'Mona Sans', sans-serif;
  --heading-font-family: 'Mona Sans', sans-serif;
  --heading-one-size: 1.5rem;
  --heading-two-size: 1.125rem;
  --heading-three-size: 1rem;
  --font-size-large: 0.875rem;
  --font-size-medium: 0.75rem;
  --font-size-small: 0.6875rem;
  --font-size-xsmall: 0.625rem;
  --standard-drop-shadow: drop-shadow(0rem 0.1875rem 0.375rem #00000005);
}

@theme {
  --color-slate: #161D18;
  --color-apple: #D0E399;
  --color-mist: #FBFDF6;
  --color-petal: #FBE9E8;
  --color-blush: #C5A8A7;
  --color-pebble: #EFF2E8;
  --color-moss: #686F68;
  --color-sage: #C5CCB6;
  --font-body-font-family: 'Mona Sans', sans-serif;
  --font-heading-font-family: 'Mona Sans', sans-serif;
  --text-xs: 0.625rem;
  --text-s: 0.6875rem;
  --text-m: 0.75rem;
  --text-l: 0.875rem;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: var(--mist);
  color: var(--slate);
  font-family:'Mona Sans';
  font-size: 16px;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-one-size)
}

h2 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-two-size)
}

h3 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-three-size)
}

p {
  font-family: var(--body-font-family);
  font-size: var(--font-size-medium);
}
